.rows{
    margin: 10px;
    padding: 20px;
    color: blue;
    background: lightblue;
}
div{
    display: flex;
    justify-content: space-evenly;
   
}

i{
    font-size:36px;
}
h2{
    text-align: center;
    background: lightblue;
}
