<!DOCTYPE html>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
      integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' 
      crossorigin='anonymous'>
      

<div *ngFor="let t of task; index as i" class="rows">
  <i (click)="showDetails(t)">{{i+1}}</i>
  <i (click)="showDetails(t)">{{t.title}}</i>
  <i (click)="showDetails(t)">{{t.description}}</i>
  <i (click)="edit(t)" class='fas'>&#xf044;</i>
  <i (click)="delete(t.id,i)" class="material-icons"> delete_forever</i>
</div>
