.header{ 
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    color: red;
}
.main{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: rgb(160, 232, 245);
}

.add{
    padding-right: 50px;
}

.icon{
    display: flex;
}
a{
    font-size:36px; 
}
